<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Welcome to Codersparks.uk</title>
</head>
<body>
    <h1>Under Construction</h1>

<p>Welcome to codersparks.uk - This is a simple site as I mainly use the domain for email, however, I will be hosting mini development projects over time</p>

<p>I will also be prettifying this over time</p>

<div sec:authorize="${hasRole('DEV')}">
    <h2>You have dev privilidges</h2>
</div>
</body>
</html>